
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
      <a routerLink='/homepage' routerLinkActive='active'><img src="\assets\za_ndoh_logo.png" class="images" alt=""></a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
      <div class="collapse navbar-collapse" id="navbarMenu">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a routerLink='/Add-teacher' routerLinkActive='active' class="nav-link"><span><i class="fas fa-user-plus"></i>ADD Teacher</span></a>
              </li>
              <li class="nav-item">
                  <a routerLink='/View-all-student' routerLinkActive='active' class="nav-link"><span><i class="far fa-eye"></i>Veiw Student</span></a>
              </li>
              <li class="nav-item">
                  <form class="form-inline">
                      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Student Number</button>
                    </form>
                  </li>
                  <li class="nav-item">
                   <a class="nav-link" (click)="Logout()"><span><i class="fas fa-sign-out-alt"></i> Logout</span></a>
               </li>
          </ul>
      </div>
  </nav>
  <br>
  <br>
  <br>
  <br>
  <br>
  <section>
      <div>
          <br>
          <h1>Please Enter Student details below and their books Details Below Note that you have to fill in all the input</h1>
          <br>
          <form #Studentinfo="ngForm" enctype="multipart/form-data">
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Please Enter Student information below</h5>
                      <br>
                      <div class="form-group">
                         <div class="form-group">
                             <label>Enter Student Number</label>
                             <input type="number" name="StudentNumber" #StudentNumber="ngModel" [(ngModel)]="student.StudentNumber" class="form-control" placeholder="Student Number" required min="3" maxlength="80" style="widows: 290px;">

                         </div>
                      </div>
                      <div class="form-group">
                          <div class="form-group">
                              <label>Enter Your Name</label>
                              <input type="text" name="Name" #Name="ngModel" [(ngModel)]="student.Name" class="form-control" placeholder="Name" required min="3" maxlength="80" style="widows: 290px;">

                          </div>
                          <div class="form-group">
                              <label>Enter Your Surname</label>
                              <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="student.Surname" class="form-control" placeholder="Surname" required min="3" maxlength="15" style="widows: 390px;">
                          </div>
                          <div class="form-group">
                              <label>Enter Your ID Number</label>
                              <input type="number" name="IDNumber" #IDNumber="ngModel" [(ngModel)]="student.IDNumber" class="form-control" placeholder="ID Number" required min="3" maxlength="14" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Select Gender</label>
                              <select class="custom-select mr-sm-2" name="Gender" #Gender [(ngModel)]="student.Gender" id="inlineFormCustomSelect">
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Enter your Mobile Numbers</label>
                              <input type="text" name="MobileNumbers" #MobileNumbers="ngModel" [(ngModel)]="student.MobileNumbers" class="form-control" placeholder="Mobile Number" required min="3" maxlength="30" style="widows: 390px;">
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlTextarea1">Enter Home Address</label>
                              <textarea type="text" name="HomeAddress"  #HomeAddress="ngModel" [(ngModel)]="student.HomeAddress" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                              <label>Suburb</label>
                              <input type="text" name="Suburb" #Suburb="ngModel" [(ngModel)]="student.Suburb" class="form-control" placeholder="Suburb" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>City</label>
                              <input type="text" name="City" #City="ngModel" [(ngModel)]="student.City" class="form-control" placeholder="City" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Province</label>
                              <select class="custom-select mr-sm-2" name="Province" #Province [(ngModel)]="student.Province" id="inlineFormCustomSelect">
                                  <option value="Gauteng">Gauteng</option>
                                  <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                                  <option value="Mpumalanga">Mpumalanga</option>
                                  <option value="Free state">Free state</option>
                                  <option value="North west">North west</option>
                                  <option value="Western Cape">Western Cape</option>
                                  <option value="Eastern Cape">Eastern Cape</option>
                                  <option value="Limpopo">Limpopo</option>
                                  <option value="Northern Cape">Northern Cape</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>ZIP</label>
                              <input type="text" name="ZIP" #ZIP="ngModel" [(ngModel)]="student.ZIP" class="form-control" placeholder="ZIP" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Select Grade</label>
                              <select class="custom-select mr-sm-2" name="Grade" #Grade [(ngModel)]="student.Grade" id="inlineFormCustomSelect">
                                  <option value="Grade10">Grade10</option>
                                  <option value="Grade11">Grade11</option>
                                  <option value="Grade12">Grade12</option>
                              </select>
                           </div>
                           <div class="form-group">
                              <label>Enter Email</label>
                              <input type="email" name="Email" #Email="ngModel" [(ngModel)]="student.Email" class="form-control" placeholder="Email" required min="3" maxlength="30" style="widows: 390px;">
                          </div>
                          
                          <div class="form-group">
                              <label>Enter Password</label>
                              <input type="text" name="Password" #Password="ngModel" [(ngModel)]="student.Password" class="form-control" placeholder="Password" required min="1" maxlength="15" style="widows: 390px;">
                          </div>
                      </div>
                      <br>
                  </div>
              </div>
              <br>
              <div class="card">
                  <div class="card-body">
                      <h5 class="card-title">Please Enter Gaudian information below</h5>
                      <br>
                      <input type="hidden" name="ID" #ID="ngModel" [(ngModel)]="guadian.ID">
                      <div class="form-group">
                          <div class="form-group">
                              <label>Enter Your Name</label>
                              <input type="text" name="Name" #Name="ngModel" [(ngModel)]="guadian.Name" class="form-control" placeholder="Name" required min="3" maxlength="80" style="widows: 290px;">

                          </div>
                          <div class="form-group">
                              <label>Enter Your Surname</label>
                              <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="guadian.Surname" class="form-control" placeholder="Surname" required min="3" maxlength="15" style="widows: 390px;">
                          </div>
                          <div class="form-group">
                              <label>Enter Your ID Number</label>
                              <input type="number" name="IDNumber" #IDNumber="ngModel" [(ngModel)]="guadian.IDNumber" class="form-control" placeholder="ID Number" required min="3" maxlength="14" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Select Gender</label>
                              <select class="custom-select mr-sm-2" name="Gender" #Gender [(ngModel)]="guadian.Gender" id="inlineFormCustomSelect">
                                  <option value="Male">Male</option>
                                  <option value="Female">Female</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Enter your Mobile Numbers</label>
                              <input type="text" name="MobileNumber" #MobileNumber="ngModel" [(ngModel)]="guadian.MobileNumber" class="form-control" placeholder="Mobile Numbers" required min="3" maxlength="30" style="widows: 390px;">
                          </div>
                          <div class="form-group">
                              <label>Enter your  Home Number</label>
                              <input type="text" name="HomeNumber" #HomeNumber="ngModel" [(ngModel)]="guadian.HomeNumber" class="form-control" placeholder="Home Number" required min="3" maxlength="30" style="widows: 390px;">
                          </div>
                          <div class="form-group">
                              <label for="exampleFormControlTextarea1">Enter Home Address</label>
                              <textarea type="text" name="PhysicalAddress" #PhysicalAddress="ngModel" [(ngModel)]="guadian.PhysicalAddress"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                              <label>Suburb</label>
                              <input type="text" name="Suburb" #Suburb="ngModel" [(ngModel)]="guadian.Suburb" class="form-control" placeholder="Suburb" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>City</label>
                              <input type="text" name="City" #City="ngModel" [(ngModel)]="guadian.City" class="form-control" placeholder="City" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Province</label>
                              <select class="custom-select mr-sm-2" name="Province" #Province [(ngModel)]="guadian.Province" id="inlineFormCustomSelect">
                                  <option value="Gauteng">Gauteng</option>
                                  <option value="Kwazulu-Natal">Kwazulu-Natal</option>
                                  <option value="Mpumalanga">Mpumalanga</option>
                                  <option value="Free state">Free state</option>
                                  <option value="North west">North west</option>
                                  <option value="Western Cape">Western Cape</option>
                                  <option value="Eastern Cape">Eastern Cape</option>
                                  <option value="Limpopo">Limpopo</option>
                                  <option value="Northern Cape">Northern Cape</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>ZIP</label>
                              <input type="text" name="ZIP" #ZIP="ngModel" [(ngModel)]="guadian.ZIP" class="form-control" placeholder="ZIP" required min="3" maxlength="20" style="widows: 290px;">
                          </div>
                          <div class="form-group">
                              <label>Relation To the Student</label>
                              <input type="text" name="Relation" #Relation="ngModel" [(ngModel)]="guadian.Relation" class="form-control" placeholder="Relation" required min="1" maxlength="15" style="widows: 390px;">
                          </div>
                      </div>
                      <br>
                  </div>
              </div>
              <!--Entering Student Grade 10 Subject if the user selectected Grade10-->
              <div class="card" *ngIf="Grade10 == student.Grade">
                <div class="card-body">
                  <h5 class="card-title">Please Enter Student Subjects</h5>
                   <div class="form-group">
                      <br>
                      <input type="hidden" name="SubjectID" #SubjectID="ngModel" [(ngModel)]="studentsubjectgrade10.SubjectID">
                      <div class="form-group">
                          <label>Please select Home Language</label>
                          <select class="custom-select mr-sm-2" name="Subject1" #Subject1 [(ngModel)]="studentsubjectgrade10.Subject1" id="inlineFormCustomSelect">
                              <option value="Sepedi">Sepedi</option>
                              <option value="Setswana">Setswana</option>
                              <option value="Isizulu">Isizulu</option>
                              <option value="Afrikaans">Afrikaans</option>
                              <option value="Tsonga">Tsonga</option>
                              <option value="Isindebele">Isindebele</option>
                              <option value="Venda">Venda</option>
                              <option value="Sotho">Sotho</option>
                              <option value="Isiwathi">Isiwathi</option>
                            </select>
                          </div>
                          <div class="form-group">
                              <label>Please select First Additional Language</label>
                              <select class="custom-select mr-sm-2" name="Subject2" #Subject2 [(ngModel)]="studentsubjectgrade10.Subject2" id="inlineFormCustomSelect">
                                  <option value="English">English</option>
                                  <option value="Afrikaans">Afrikaans</option>
                                </select>
                           </div>
                           <div class="form-group">
                              <label>Select third Subject</label>
                              <select class="custom-select mr-sm-2" name="Subject3" #Subject3 [(ngModel)]="studentsubjectgrade10.Subject3" id="inlineFormCustomSelect">
                                  <option value="History">History</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Life Science">Life Science</option>
                                  <option value="Physical Science">Physical Science</option>
                                  <option value="Accounting">Accounting</option>
                                  <option value="Economics">Economics</option>
                                  <option value="Geography">Geography</option>
                                  <option value="Business">Business</option>
                                  <option value="Consumer Studies">Consumer Studies</option>
                                  <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                  <option value="Life Orientation">Life Orientation</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Select Fourth Subject</label>
                              <select class="custom-select mr-sm-2" name="Subject4" #Subject4 [(ngModel)]="studentsubjectgrade10.Subject4" id="inlineFormCustomSelect">
                                  <option value="History">History</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Life Science">Life Science</option>
                                  <option value="Physical Science">Physical Science</option>
                                  <option value="Accounting">Accounting</option>
                                  <option value="Economics">Economics</option>
                                  <option value="Geography">Geography</option>
                                  <option value="Business">Business</option>
                                  <option value="Consumer Studies">Consumer Studies</option>
                                  <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                  <option value="Life Orientation">Life Orientation</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Select Firth Subject</label>
                              <select class="custom-select mr-sm-2" name="Subject5" #Subject5 [(ngModel)]="studentsubjectgrade10.Subject5" id="inlineFormCustomSelect">
                                  <option value="History">History</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Life Science">Life Science</option>
                                  <option value="Physical Science">Physical Science</option>
                                  <option value="Accounting">Accounting</option>
                                  <option value="Economics">Economics</option>
                                  <option value="Geography">Geography</option>
                                  <option value="Business">Business</option>
                                  <option value="Consumer Studies">Consumer Studies</option>
                                  <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                  <option value="Life Orientation">Life Orientation</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Select Sixth Subject</label>
                              <select class="custom-select mr-sm-2" name="Subject6" #Subject6 [(ngModel)]="studentsubjectgrade10.Subject6" id="inlineFormCustomSelect">
                                  <option value="History">History</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Life Science">Life Science</option>
                                  <option value="Physical Science">Physical Science</option>
                                  <option value="Accounting">Accounting</option>
                                  <option value="Economics">Economics</option>
                                  <option value="Geography">Geography</option>
                                  <option value="Business">Business</option>
                                  <option value="Consumer Studies">Consumer Studies</option>
                                  <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                  <option value="Life Orientation">Life Orientation</option>
                                </select>
                          </div>
                          <div class="form-group">
                              <label>Select Seventh Subject</label>
                              <select class="custom-select mr-sm-2" name="Subject7" #Subject7 [(ngModel)]="studentsubjectgrade10.Subject7" id="inlineFormCustomSelect">
                                  <option value="History">History</option>
                                  <option value="Mathematics">Mathematics</option>
                                  <option value="Life Science">Life Science</option>
                                  <option value="Physical Science">Physical Science</option>
                                  <option value="Accounting">Accounting</option>
                                  <option value="Economics">Economics</option>
                                  <option value="Geography">Geography</option>
                                  <option value="Business">Business</option>
                                  <option value="Consumer Studies">Consumer Studies</option>
                                  <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                  <option value="Life Orientation">Life Orientation</option>
                                </select>
                          </div>
                       </div>
                     </div>
                  </div>
              <br>
              <!--Entering Student Grade 11 Subject if the user selectected Grade11-->
              <div class="card" *ngIf="student.Grade == Grade11">
                  <div class="card-body">
                    <h5 class="card-title">Please Enter Student Subjects</h5>
                     <div class="form-group">
                        <br>
                        <input type="hidden" name="SubjectID" #SubjectID="ngModel" [(ngModel)]="studentsubjectgrade11.SubjectID">
                        <div class="form-group">
                            <label>Please select Home Language</label>
                            <select class="custom-select mr-sm-2" name="Subject1" #Subject1 [(ngModel)]="studentsubjectgrade11.Subject1" id="inlineFormCustomSelect">
                                <option value="Sepedi">Sepedi</option>
                                <option value="Setswana">Setswana</option>
                                <option value="Isizulu">Isizulu</option>
                                <option value="Afrikaans">Afrikaans</option>
                                <option value="Tsonga">Tsonga</option>
                                <option value="Isindebele">Isindebele</option>
                                <option value="Venda">Venda</option>
                                <option value="Sotho">Sotho</option>
                                <option value="Isiwathi">Isiwathi</option>
                              </select>
                            </div>
                            <div class="form-group">
                                <label>Please select First Additional Language</label>
                                <select class="custom-select mr-sm-2" name="Subject2" #Subject2 [(ngModel)]="studentsubjectgrade11.Subject2" id="inlineFormCustomSelect">
                                    <option value="English">English</option>
                                    <option value="Afrikaans">Afrikaans</option>
                                  </select>
                             </div>
                             <div class="form-group">
                                <label>Select third Subject</label>
                                <select class="custom-select mr-sm-2" name="Subject3" #Subject3 [(ngModel)]="studentsubjectgrade11.Subject3" id="inlineFormCustomSelect">
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Select Fourth Subject</label>
                                <select class="custom-select mr-sm-2" name="Subject4" #Subject4 [(ngModel)]="studentsubjectgrade11.Subject4" id="inlineFormCustomSelect">
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Select Firth Subject</label>
                                <select class="custom-select mr-sm-2" name="Subject5" #Subject5 [(ngModel)]="studentsubjectgrade11.Subject5" id="inlineFormCustomSelect">
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Select Sixth Subject</label>
                                <select class="custom-select mr-sm-2" name="Subject6" #Subject6 [(ngModel)]="studentsubjectgrade11.Subject6" id="inlineFormCustomSelect">
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Select Seventh Subject</label>
                                <select class="custom-select mr-sm-2" name="Subject7" #Subject7 [(ngModel)]="studentsubjectgrade11.Subject7" id="inlineFormCustomSelect">
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                         </div>
                       </div>
                    </div>
                    <br>
                    <!--Entering Student Grade 12 Subject if the user selectect Grade12-->
                    <div class="card" *ngIf="student.Grade == Grade12">
                      <div class="card-body">
                        <h5 class="card-title">Please Enter Student Subjects</h5>
                         <div class="form-group">
                            <br>
                            <input type="hidden" name="studentsubjectgrade11" #studentsubjectgrade11="ngModel" [(ngModel)]="studentsubjectgrade12.studentsubjectgrade11">
                            <div class="form-group">
                                <label>Please select Home Language</label>
                                <select class="custom-select mr-sm-2" name="Subject1" #Subject1 [(ngModel)]="studentsubjectgrade12.Subject1" id="inlineFormCustomSelect">
                                    <option value="Sepedi">Sepedi</option>
                                    <option value="Setswana">Setswana</option>
                                    <option value="Isizulu">Isizulu</option>
                                    <option value="Afrikaans">Afrikaans</option>
                                    <option value="Tsonga">Tsonga</option>
                                    <option value="Isindebele">Isindebele</option>
                                    <option value="Venda">Venda</option>
                                    <option value="Sotho">Sotho</option>
                                    <option value="Isiwathi">Isiwathi</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                    <label>Please select First Additional Language</label>
                                    <select class="custom-select mr-sm-2" name="Subject2" #Subject2 [(ngModel)]="studentsubjectgrade12.Subject2" id="inlineFormCustomSelect">
                                        <option value="English">English</option>
                                        <option value="Afrikaans">Afrikaans</option>
                                      </select>
                                 </div>
                                 <div class="form-group">
                                    <label>Select third Subject</label>
                                    <select class="custom-select mr-sm-2" name="Subject3" #Subject3 [(ngModel)]="studentsubjectgrade12.Subject3" id="inlineFormCustomSelect">
                                        <option value="History">History</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Life Science">Life Science</option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Business">Business</option>
                                        <option value="Consumer Studies">Consumer Studies</option>
                                        <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                        <option value="Life Orientation">Life Orientation</option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Fourth Subject</label>
                                    <select class="custom-select mr-sm-2" name="Subject4" #Subject4 [(ngModel)]="studentsubjectgrade12.Subject4" id="inlineFormCustomSelect">
                                        <option value="History">History</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Life Science">Life Science</option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Business">Business</option>
                                        <option value="Consumer Studies">Consumer Studies</option>
                                        <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                        <option value="Life Orientation">Life Orientation</option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Firth Subject</label>
                                    <select class="custom-select mr-sm-2" name="Subject5" #Subject5 [(ngModel)]="studentsubjectgrade12.Subject5" id="inlineFormCustomSelect">
                                        <option value="History">History</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Life Science">Life Science</option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Business">Business</option>
                                        <option value="Consumer Studies">Consumer Studies</option>
                                        <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                        <option value="Life Orientation">Life Orientation</option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Sixth Subject</label>
                                    <select class="custom-select mr-sm-2" name="Subject6" #Subject6 [(ngModel)]="studentsubjectgrade12.Subject6" id="inlineFormCustomSelect">
                                        <option value="History">History</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Life Science">Life Science</option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Business">Business</option>
                                        <option value="Consumer Studies">Consumer Studies</option>
                                        <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                        <option value="Life Orientation">Life Orientation</option>
                                      </select>
                                </div>
                                <div class="form-group">
                                    <label>Select Seventh Subject</label>
                                    <select class="custom-select mr-sm-2" name="Subject7" #Subject7 [(ngModel)]="studentsubjectgrade12.Subject7" id="inlineFormCustomSelect">
                                        <option value="History">History</option>
                                        <option value="Mathematics">Mathematics</option>
                                        <option value="Life Science">Life Science</option>
                                        <option value="Physical Science">Physical Science</option>
                                        <option value="Accounting">Accounting</option>
                                        <option value="Economics">Economics</option>
                                        <option value="Geography">Geography</option>
                                        <option value="Business">Business</option>
                                        <option value="Consumer Studies">Consumer Studies</option>
                                        <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                        <option value="Life Orientation">Life Orientation</option>
                                      </select>
                                </div>
                             </div>
                           </div>
                        </div>
                    <br>
                    <!--Student Subject Books  for FirstAdditional and Home language if the user selectect Grade10-->
                    <div class="card" *ngIf="student.Grade == Grade10">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student FirstAdditional and Home language Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="LanguageID" #LanguageID="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.LanguageID">
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #HomeLanguageBook1 accept=".pdf,.doc" name="HomeLanguageBook1" #HomeLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.HomeLanguageBook1" class="form-control-file" id="HomeLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book2</label>
                              <input type="file" #HomeLanguageBook2 accept=".pdf,.doc" name="HomeLanguageBook2" #HomeLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.HomeLanguageBook2" class="form-control-file" id="HomeLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book3</label>
                              <input type="file" #HomeLanguageBook3 accept=".pdf,.doc" name="HomeLanguageBook3" #HomeLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.HomeLanguageBook3" class="form-control-file" id="HomeLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>FirstAdditional Language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook1 accept=".pdf,.doc" name="FirstAdditionalLanguageBook1" #FirstAdditionalLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.FirstAdditionalLanguageBook1" class="form-control-file" id="FirstAdditionalLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook2 accept=".pdf,.doc" name="FirstAdditionalLanguageBook2" #FirstAdditionalLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.FirstAdditionalLanguageBook2" class="form-control-file" id="FirstAdditionalLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook3 accept=".pdf,.doc" name="FirstAdditionalLanguageBook3" #FirstAdditionalLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade10.FirstAdditionalLanguageBook3" class="form-control-file" id="FirstAdditionalLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade11">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student FirstAdditional and Home language Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="LanguageID" #LanguageID="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.LanguageID">
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #HomeLanguageBook1 accept=".pdf,.doc" name="HomeLanguageBook1" #HomeLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.HomeLanguageBook1" class="form-control-file" id="HomeLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book2</label>
                              <input type="file" #HomeLanguageBook2 accept=".pdf,.doc" name="HomeLanguageBook2" #HomeLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.HomeLanguageBook2" class="form-control-file" id="HomeLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book3</label>
                              <input type="file" #HomeLanguageBook3 accept=".pdf,.doc" name="HomeLanguageBook3" #HomeLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.HomeLanguageBook3" class="form-control-file" id="HomeLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>FirstAdditional Language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook1 accept=".pdf,.doc" name="FirstAdditionalLanguageBook1" #FirstAdditionalLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.FirstAdditionalLanguageBook1" class="form-control-file" id="FirstAdditionalLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook2 accept=".pdf,.doc" name="FirstAdditionalLanguageBook2" #FirstAdditionalLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.FirstAdditionalLanguageBook2" class="form-control-file" id="FirstAdditionalLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook3 accept=".pdf,.doc" name="FirstAdditionalLanguageBook3" #FirstAdditionalLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade11.FirstAdditionalLanguageBook3" class="form-control-file" id="FirstAdditionalLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade12">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student FirstAdditional and Home language Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="LanguageID" #LanguageID="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.LanguageID">
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #HomeLanguageBook1 accept=".pdf,.doc" name="HomeLanguageBook1" #HomeLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.HomeLanguageBook1" class="form-control-file" id="HomeLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book2</label>
                              <input type="file" #HomeLanguageBook2 accept=".pdf,.doc" name="HomeLanguageBook2" #HomeLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.HomeLanguageBook2" class="form-control-file" id="HomeLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book3</label>
                              <input type="file" #HomeLanguageBook3 accept=".pdf,.doc" name="HomeLanguageBook3" #HomeLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.HomeLanguageBook3" class="form-control-file" id="HomeLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>FirstAdditional Language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook1 accept=".pdf,.doc" name="FirstAdditionalLanguageBook1" #FirstAdditionalLanguageBook1="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.FirstAdditionalLanguageBook1" class="form-control-file" id="FirstAdditionalLanguageBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook2 accept=".pdf,.doc" name="FirstAdditionalLanguageBook2" #FirstAdditionalLanguageBook2="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.FirstAdditionalLanguageBook2" class="form-control-file" id="FirstAdditionalLanguageBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Home language Book1</label>
                              <input type="file" #FirstAdditionalLanguageBook3 accept=".pdf,.doc" name="FirstAdditionalLanguageBook3" #FirstAdditionalLanguageBook3="ngModel" [(ngModel)]="homeandefirstadditionallanguagegrade12.FirstAdditionalLanguageBook3" class="form-control-file" id="FirstAdditionalLanguageBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <!--Student Subject Books  for 5 subjects except home and firstadditional language if the user selectect Grade10-->
                    <div class="card" *ngIf="student.Grade == Grade10">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student Subject Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudentBookID" #StudentBookID="ngModel" [(ngModel)]="studentbooksgrade10.StudentBookID">
                           <div class="form-group">
                              <label>Student subject Book1</label>
                              <input type="file" #StudentBook1 accept=".pdf,.doc" name="StudentBook1" #StudentBook1="ngModel" [(ngModel)]="studentbooksgrade10.StudentBook1" class="form-control-file" id="StudentBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book2</label>
                              <input type="file" #StudentBook2 accept=".pdf,.doc" name="StudentBook2" #StudentBook2="ngModel" [(ngModel)]="studentbooksgrade10.StudentBook2" class="form-control-file" id="StudentBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book3</label>
                              <input type="file" #StudentBook3 accept=".pdf,.doc" name="StudentBook3" #StudentBook3="ngModel" [(ngModel)]="studentbooksgrade10.StudentBook3" class="form-control-file" id="StudentBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book4</label>
                              <input type="file" #StudentBook4 accept=".pdf,.doc" name="StudentBook4" #StudentBook4="ngModel" [(ngModel)]="studentbooksgrade10.StudentBook4" class="form-control-file" id="StudentBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book5</label>
                              <input type="file" #StudentBook5 accept=".pdf,.doc" name="StudentBook5" #StudentBook5="ngModel" [(ngModel)]="studentbooksgrade10.StudentBook5" class="form-control-file" id="StudentBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade11">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student Subject Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudentID" #StudentID="ngModel" [(ngModel)]="studentbooksgrade11.StudentID">
                           <div class="form-group">
                              <label>Student subject Book1</label>
                              <input type="file" #StudentBook1 accept=".pdf,.doc" name="StudentBook1" #StudentBook1="ngModel" [(ngModel)]="studentbooksgrade11.StudentBook1" class="form-control-file" id="StudentBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book2</label>
                              <input type="file" #StudentBook2 accept=".pdf,.doc" name="StudentBook2" #StudentBook2="ngModel" [(ngModel)]="studentbooksgrade11.StudentBook2" class="form-control-file" id="StudentBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book3</label>
                              <input type="file" #StudentBook3 accept=".pdf,.doc" name="StudentBook3" #StudentBook3="ngModel" [(ngModel)]="studentbooksgrade11.StudentBook3" class="form-control-file" id="StudentBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book4</label>
                              <input type="file" #StudentBook4 accept=".pdf,.doc" name="StudentBook4" #StudentBook4="ngModel" [(ngModel)]="studentbooksgrade11.StudentBook4" class="form-control-file" id="StudentBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book5</label>
                              <input type="file" #StudentBook5 accept=".pdf,.doc" name="StudentBook5" #StudentBook5="ngModel" [(ngModel)]="studentbooksgrade11.StudentBook5" class="form-control-file" id="StudentBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade12">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload PDF files for Student Subject Books</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudentBookID" #StudentBookID="ngModel" [(ngModel)]="studentbooksgrade12.StudentBookID">
                           <div class="form-group">
                              <label>Student subject Book1</label>
                              <input type="file" #StudentBook1 accept=".pdf,.doc" name="StudentBook1" #StudentBook1="ngModel" [(ngModel)]="studentbooksgrade12.StudentBook1" class="form-control-file" id="StudentBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book2</label>
                              <input type="file" #StudentBook2 accept=".pdf,.doc" name="StudentBook2" #StudentBook2="ngModel" [(ngModel)]="studentbooksgrade12.StudentBook2" class="form-control-file" id="StudentBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book3</label>
                              <input type="file" #StudentBook3 accept=".pdf,.doc" name="StudentBook3" #StudentBook3="ngModel" [(ngModel)]="studentbooksgrade12.StudentBook3" class="form-control-file" id="StudentBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book4</label>
                              <input type="file" #StudentBook4 accept=".pdf,.doc" name="StudentBook4" #StudentBook4="ngModel" [(ngModel)]="studentbooksgrade12.StudentBook4" class="form-control-file" id="StudentBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>Student subject Book5</label>
                              <input type="file" #StudentBook5 accept=".pdf,.doc" name="StudentBook5" #StudentBook5="ngModel" [(ngModel)]="studentbooksgrade12.StudentBook5" class="form-control-file" id="StudentBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <!--Student StudyGuide Books for all subject if the user selectect Grade10-->
                    <div class="card" *ngIf="student.Grade == Grade10">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload StudyGuide Books for Every Subject</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudyGuideID" #StudyGuideID="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideID">
                           <div class="form-group">
                              <label>StudyGuide book for the first Subject</label>
                              <input type="file" #StudyGuideBook1 accept=".pdf,.doc" name="StudyGuideBook1" #StudyGuideBook1="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook1" class="form-control-file" id="StudyGuideBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the second Subject</label>
                              <input type="file" #StudyGuideBook2 accept=".pdf,.doc" name="StudyGuideBook2" #StudyGuideBook2="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook2" class="form-control-file" id="StudyGuideBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the third Subject</label>
                              <input type="file" #StudyGuideBook3 accept=".pdf,.doc" name="StudyGuideBook3" #StudyGuideBook3="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook3" class="form-control-file" id="StudyGuideBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fourth Subject</label>
                              <input type="file" #StudyGuideBook4 accept=".pdf,.doc" name="StudyGuideBook4" #StudyGuideBook4="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook4" class="form-control-file" id="StudyGuideBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fifth Subject</label>
                              <input type="file" #StudyGuideBook5 accept=".pdf,.doc" name="StudyGuideBook5" #StudyGuideBook5="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook5" class="form-control-file" id="StudyGuideBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the sixth Subject</label>
                              <input type="file" #StudyGuideBook6 accept=".pdf,.doc" name="StudyGuideBook6" #StudyGuideBook6="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook6" class="form-control-file" id="StudyGuideBook6" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the seventh Subject</label>
                              <input type="file" #StudyGuideBook7 accept=".pdf,.doc" name="StudyGuideBook7" #StudyGuideBook7="ngModel" [(ngModel)]="studentstudyguidegrade10.StudyGuideBook7" class="form-control-file" id="StudyGuideBook7" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade11">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload StudyGuide Books for Every Subject</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudyGuideID" #StudyGuideID="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideID">
                           <div class="form-group">
                              <label>StudyGuide book for the first Subject</label>
                              <input type="file" #StudyGuideBook1 accept=".pdf,.doc" name="StudyGuideBook1" #StudyGuideBook1="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook1" class="form-control-file" id="StudyGuideBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the second Subject</label>
                              <input type="file" #StudyGuideBook2 accept=".pdf,.doc" name="StudyGuideBook2" #StudyGuideBook2="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook2" class="form-control-file" id="StudyGuideBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the third Subject</label>
                              <input type="file" #StudyGuideBook3 accept=".pdf,.doc" name="StudyGuideBook3" #StudyGuideBook3="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook3" class="form-control-file" id="StudyGuideBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fourth Subject</label>
                              <input type="file" #StudyGuideBook4 accept=".pdf,.doc" name="StudyGuideBook4" #StudyGuideBook4="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook4" class="form-control-file" id="StudyGuideBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fifth Subject</label>
                              <input type="file" #StudyGuideBook5 accept=".pdf,.doc" name="StudyGuideBook5" #StudyGuideBook5="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook5" class="form-control-file" id="StudyGuideBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the sixth Subject</label>
                              <input type="file" #StudyGuideBook6 accept=".pdf,.doc" name="StudyGuideBook6" #StudyGuideBook6="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook6" class="form-control-file" id="StudyGuideBook6" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the seventh Subject</label>
                              <input type="file" #StudyGuideBook7 accept=".pdf,.doc" name="StudyGuideBook7" #StudyGuideBook7="ngModel" [(ngModel)]="studentstudyguidegrade11.StudyGuideBook7" class="form-control-file" id="StudyGuideBook7" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
                    <div class="card" *ngIf="student.Grade == Grade12">
                      <div class="card-body">
                        <h5 class="card-title">Please Upload StudyGuide Books for Every Subject</h5>
                        <div class="form-group">
                           <br>
                           <input type="hidden" name="StudyGuideID" #StudyGuideID="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideID">
                           <div class="form-group">
                              <label>StudyGuide book for the first Subject</label>
                              <input type="file" #StudyGuideBook1 accept=".pdf,.doc" name="StudyGuideBook1" #StudyGuideBook1="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook1" class="form-control-file" id="StudyGuideBook1" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the second Subject</label>
                              <input type="file" #StudyGuideBook2 accept=".pdf,.doc" name="StudyGuideBook2" #StudyGuideBook2="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook2" class="form-control-file" id="StudyGuideBook2" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the third Subject</label>
                              <input type="file" #StudyGuideBook3 accept=".pdf,.doc" name="StudyGuideBook3" #StudyGuideBook3="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook3" class="form-control-file" id="StudyGuideBook3" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fourth Subject</label>
                              <input type="file" #StudyGuideBook4 accept=".pdf,.doc" name="StudyGuideBook4" #StudyGuideBook4="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook4" class="form-control-file" id="StudyGuideBook4" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the fifth Subject</label>
                              <input type="file" #StudyGuideBook5 accept=".pdf,.doc" name="StudyGuideBook5" #StudyGuideBook5="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook5" class="form-control-file" id="StudyGuideBook5" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the sixth Subject</label>
                              <input type="file" #StudyGuideBook6 accept=".pdf,.doc" name="StudyGuideBook6" #StudyGuideBook6="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook6" class="form-control-file" id="StudyGuideBook6" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                           <div class="form-group">
                              <label>StudyGuide book for the seventh Subject</label>
                              <input type="file" #StudyGuideBook7 accept=".pdf,.doc" name="StudyGuideBook7" #StudyGuideBook7="ngModel" [(ngModel)]="studentstudyguidegrade12.StudyGuideBook7" class="form-control-file" id="StudyGuideBook7" (change)="createFormData($event)" (change)="handleFileInput($event.target.files)">
                           </div>
                         </div>
                      </div>
                    </div>
                    <br>
             <div class="card">
                 <div class="card-body">
                    <div class="row">
                     <div class="col md">
                      <button type="submit" [disabled]="!Studentinfo.valid " class="btn btn-outline-info" (click)="UpdateUser(Studentinfo)">Add Service information</button>
                      </div>
                     </div>
                  </div>
              </div>
          </form>
      </div>
      <br>
  </section>
