
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p class="pik">ONLINE LEARNING APPLICATION FOR ALL SOUTH AFRICAN.</p>
    <div class="card" style="width: 38rem;">
        <div class="card-body">
            <h5 class="card-title">Sign in</h5>
            <form #signin="ngForm" (ngSubmit)="OnSubmit(Email.value, Password.value)">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" name="Email" #Email="ngModel" [(ngModel)]="administrator.Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="Password" #Password="ngModel" [(ngModel)]="administrator.Password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <br>
                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Sign in</button>
                <br>
                <br>
               
            </form>
        </div>
    </div>
