.card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    align-content: center;
    width: 350px;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    background-color: rgba(245, 245, 245, 0.4);
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .6);
}

.my-carousel {
    min-width: 100%;
    object-fit: cover;
}

.carousel-item {
    width: 100%;
    height: 400px;
}

.carousel-item img {
    height: 400px;
    width: 80%;
}

button {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    color: black;
    background-color: #00695c;
    background-color: rgba(245, 245, 245, 0.4);
}


.card-title {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.pik {
    text-align: center;
    font-weight: bold;
    font-style: oblique;
    color: black;
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
}