
nav {
    position: absolute;
    /* top: 30px; */
    z-index: 999;
    /* Preserve aspet ratio */
    min-width: 100%;
    height: 90px;
    top: 0;
    left: 0;
}

.nav .navbar-nav a {
    color: white !important;
}

.images {
    height: 100px;
    top: 0;
    left: 0;
}

span {
    color:black;
}

.card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    align-content: center;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    background-color: rgba(245, 245, 245, 0.4);
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .6);
}
input{
    border-radius: 20px !important;
}