
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
    <a><img src="\assets\za_ndoh_logo.png" class="images" alt=""></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
  <span class="navbar-toggler-icon"></span>
</button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a routerLink='/Add-student' routerLinkActive='active' class="nav-link"><span> <i class="fas fa-user-plus"></i>ADD Student </span></a>
            </li>
            <li class="nav-item">
                <a routerLink='/Add-teacher' routerLinkActive='active' class="nav-link"><span><i class="fas fa-user-plus"></i>ADD Teacher</span></a>
            </li>
            <li class="nav-item">
              <a routerLink='/View-all-student' routerLinkActive='active' class="nav-link"><span><i class="far fa-eye"></i>Veiw Student</span></a>
          </li>
            <li class="nav-item">
                <a class="nav-link" (click)="Logout()"><span><i class="fas fa-sign-out-alt"></i> Logout</span></a>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Student Number</button>
                  </form>
                </li>
        </ul>
    </div>
</nav>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="card" style="width: 800px; height: 350px;background-color: whitesmoke;" >
<br>
<br>
<div class="row">
    <div class="col-sm-6">
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">STUDENT</h5>
          <p class="card-text">Please Click Here to go to a page were you can add a new student and note that you have to upload all students study materials for student </p>
          <button routerLink='/Add-student' routerLinkActive='active' class="btn btn-outline-success my-2 my-sm-0" type="submit">Go to add student</button>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">TEACHER</h5>
          <p class="card-text">Please Click Here to go to a page were you can add a new Teacher</p>
          <button routerLink='/Add-teacher' routerLinkActive='active' class="btn btn-outline-success my-2 my-sm-0" type="submit">Go To Teacher</button>
        </div>
      </div>
    </div>
  </div>
<br>
<br>
</div>