
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a routerLink='/homepage' routerLinkActive='active'><img src="\assets\za_ndoh_logo.png" class="images" alt=""></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink='/Add-teacher' routerLinkActive='active' class="nav-link"><span><i class="fas fa-user-plus"></i>ADD Teacher</span></a>
                </li>
                <li class="nav-item">
                    <a routerLink='/Add-student' routerLinkActive='active' class="nav-link"><span> <i class="fas fa-user-plus"></i>ADD Student </span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()"><span><i class="fas fa-sign-out-alt"></i> Logout</span></a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Student Number</button>
                      </form>
                    </li>
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Student Number</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">IDNumber</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">Home Address</th>
                    <th scope="col">Suburb</th>
                    <th scope="col">City</th>
                    <th scope="col">Province</th>
                    <th scope="col">ZIP</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of studentarray">
                    <td>{{student.StudentNumber}}</td>
                    <td>{{student.Name}}</td>
                    <td>{{student.Surname}}</td>
                    <td>{{student.IDNumber}}</td>
                    <td>{{student.Gender}}</td>
                    <td>{{student.MobileNumbers}}</td>
                    <td>{{student.HomeAddress}}</td>
                    <td>{{student.Suburb}}</td>
                    <td>{{student.City}}</td>
                    <td>{{student.Province}}</td>
                    <td>{{student.ZIP}}</td>
                    <td>{{student.Grade}}</td>
                    <td>{{student.Email}}</td>
                    <td>
                        <a class="fg" [routerLink]="['/Search',student.StudentNumber]">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody> 
        </table>
    </section>
