
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: transparent;">
        <a routerLink='/homepage' routerLinkActive='active'><img src="\assets\za_ndoh_logo.png" class="images" alt=""></a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink='/Add-student' routerLinkActive='active' class="nav-link"><span> <i class="fas fa-user-plus"></i>ADD Student </span></a>
                </li>
              <li class="nav-item">
                    <a routerLink='/View-all-student' routerLinkActive='active' class="nav-link"><span><i class="far fa-eye"></i>Veiw Student</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Logout()"><span><i class="fas fa-sign-out-alt"></i> Logout</span></a>
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
               <!-- <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search Student Number</button>
                      </form>
                    </li>-->
            </ul>
        </div>
    </nav>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section>
        <div>
            <h1>Please Enter Teachers Details Below Note that you have to fill in all the input</h1>
            <br>
            <form #Teacherinfo="ngForm" enctype="multipart/form-data">

               <input type="hidden" name="TeacherID" #TeacherID="ngModel" [(ngModel)]="teacher.TeacherID"> 
                <div class="card">
                    <div class="card-body">
                        <br>
                        <br>
                        <div class="form-group">
                            <div class="form-group">
                                <label>Enter Your Name</label>
                                <input type="text" name="Name" #Name="ngModel" [(ngModel)]="teacher.Name" class="form-control" placeholder="Name" required min="3" maxlength="80" style="widows: 290px;">

                            </div>
                            <div class="form-group">
                                <label>Enter Your Surname</label>
                                <input type="text" name="Surname" #Surname="ngModel" [(ngModel)]="teacher.Surname" class="form-control" placeholder="Surname" required min="3" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Enter Your ID Number</label>
                                <input type="number" name="IDNumber" #IDNumber="ngModel" [(ngModel)]="teacher.IDNumber" class="form-control" placeholder="ID Number" required min="3" maxlength="14" style="widows: 290px;">

                            </div>
                            <div class="form-group">
                                <label>Select Gender</label>
                                <select class="custom-select mr-sm-2" name="Gender" #Gender [(ngModel)]="teacher.Gender" id="inlineFormCustomSelect">
                                    <!-- <option selected>choose yes / no</option> -->
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Enter Email</label>
                                <input type="email" name="Email" #Email="ngModel" [(ngModel)]="teacher.Email" class="form-control" placeholder="Email" required min="3" maxlength="30" style="widows: 390px;">
                            </div>
                            
                            <div class="form-group">
                                <label>Enter Password</label>
                                <input type="text" name="Password" #Password="ngModel" [(ngModel)]="teacher.Password" class="form-control" placeholder="Password" required min="1" maxlength="15" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Select Position</label>
                                <select class="custom-select mr-sm-2" name="Position" #Position [(ngModel)]="teacher.Position" id="inlineFormCustomSelect">
                                    
                                    <option value="Principal">Principal</option>
                                    <option value="Vice Principal">Vice Principal</option>
                                    <option value="HOD">HOD</option>
                                    <option value="Teacher">Teacher</option>
                                  </select>
                            </div>
                            <div class="form-group">
                                <label>Enter Your Mobile Number</label>
                                <input type="text" name="MobileNumber" #MobileNumber="ngModel" [(ngModel)]="teacher.MobileNumber" class="form-control" placeholder="Mobile Number" required min="1" maxlength="10" style="widows: 390px;">
                            </div>
                            <div class="form-group">
                                <label>Home Number</label>
                                <input type="text" name="HomeNumber" #HomeNumber="ngModel" [(ngModel)]="teacher.HomeNumber" class="form-control" placeholder="Home Number" required min="3" maxlength="80" style="widows: 290px;">

                            </div>
                            <div class="form-group">
                                <label>Select Specialization</label>
                                <select class="custom-select mr-sm-2" name="Specialization" #Specialization [(ngModel)]="teacher.Specialization" id="inlineFormCustomSelect">
                                    <option value="English">English</option>
                                    <option value="History">History</option>
                                    <option value="Mathematics">Mathematics</option>
                                    <option value="Life Science">Life Science</option>
                                    <option value="Physical Science">Physical Science</option>
                                    <option value="Accounting">Accounting</option>
                                    <option value="Economics">Economics</option>
                                    <option value="Geography">Geography</option>
                                    <option value="Business">Business</option>
                                    <option value="Sepedi">Sepedi</option>
                                    <option value="Isizulu">Isizulu</option>
                                    <option value="Consumer Studies">Consumer Studies</option>
                                    <option value="COMPUTER APPLICATIONS TECHNOLOGY">COMPUTER APPLICATIONS TECHNOLOGY</option>
                                    <option value="Life Orientation">Life Orientation</option>
                                  </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col md">
                                <button type="submit" [disabled]="!Teacherinfo.valid " class="btn btn-outline-success" (click)="onSubmit(Teacherinfo)">Add Service information</button>
                            </div>
                            <div class="col">
                                <button type="submit" [disabled]="!Teacherinfo.valid" class="btn btn-outline-info" (click)="UpdateTeacher(Teacherinfo)">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br>
        <br>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">TeacherID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">IDNumber</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Email</th>
                    <th scope="col">Position</th>
                    <th scope="col">Mobile Number</th>
                    <th scope="col">HomeNumber</th>
                    <th scope="col">Specialization</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teacher of teachers">
                    <td>{{teacher.TeacherID}}</td>
                    <td>{{teacher.Name}}</td>
                    <td>{{teacher.Surname}}</td>
                    <td>{{teacher.IDNumber}}</td>
                    <td>{{teacher.Gender}}</td>
                    <td>{{teacher.Email}}</td>
                    <td>{{teacher.Position}}</td>
                    <td>{{teacher.MobileNumber}}</td>
                    <td>{{teacher.HomeNumber}}</td>
                    <td>{{teacher.Specialization}}</td>
                    <td>
                        <a class="fg" (click)="showForEdit(teacher)">
                            <i class="far fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <a class="fg" (click)="onDelete(teacher.TeacherID)">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody> 
        </table>
    </section>