
nav {
    position: absolute;
    /* top: 30px; */
    z-index: 999;
    /* Preserve aspet ratio */
    min-width: 100%;
    height: 90px;
    top: 0;
    left: 0;
}

.nav .navbar-nav a {
    color: white !important;
}

.images {
    height: 100px;
    top: 0;
    left: 0;
}

span {
    color:black;
}
body {
    background: url("/assets/za_ndoh_logo.png") no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
}

.card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, .4);
    align-content: center;
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
    background-color: rgba(245, 245, 245, 0.4);
}

.card:hover {
    box-shadow: 0 30px 70px rgba(0, 0, 0, .6);
}
h1 {
    font-family: 'Raleway', sans-serif;
    color: #37474f;
    font-size: 22px;
    text-align: center;
}
.btn {
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.9);
    width: 100%;
    color: black;
}